* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #4c6ef5, #00d2d2);
    color: white;
    overflow: hidden;
    flex-direction: column;
}

#app {
    text-align: center;
}

#home-page h1 {
    font-size: 80px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 10px;
}

button:hover {
    background-color: #555;
}

canvas {
    border: 2px solid white;
    margin-top: 30px;
}
